<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VXMusicDesktop.User" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VXMusicDesktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <VXMusicDesktop.User>
            <setting name="RecognitionAPI" serializeAs="String">
                <value />
            </setting>
            <setting name="NotificationService" serializeAs="String">
                <value>XSOverlay</value>
            </setting>
            <setting name="SpotifyAuthenticated" serializeAs="String">
                <value>False</value>
            </setting>
        </VXMusicDesktop.User>
    </applicationSettings>
    <userSettings>
        <VXMusicDesktop.Properties.Settings>
            <setting name="RecognitionAPI" serializeAs="String">
                <value />
            </setting>
            <setting name="NotificationService" serializeAs="String">
                <value>XSOverlay</value>
            </setting>
            <setting name="SpotifyEnabled" serializeAs="String">
                <value>False</value>
            </setting>
        </VXMusicDesktop.Properties.Settings>
    </userSettings>
</configuration>