<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false">

    <!-- Define the targets where log messages will be sent -->
    <targets>
        <!-- Target to write log messages to a file -->
        <target xsi:type="File" name="fileTarget" fileName="logs/VXMusicLog-${longdate}.txt" layout="${longdate} ${level:uppercase=true} ${message}" />

        <!-- Target to write log messages to the console -->
        <target xsi:type="Console" name="consoleTarget" layout="${longdate} ${logger} ${level:uppercase=true} ${message}" />

    </targets>

    <!-- Define rules to determine which log messages are sent to which targets -->
    <rules>
        <!-- Log everything to both the file and console targets -->
        <logger name="*" minlevel="Trace" writeTo="fileTarget,consoleTarget" />
    </rules>
</nlog>
